/* CSS STYLES */
p
{
  border: 5px solid red;

  }
p
{ -webkit-border-top-left-radius: 80px
  -webkit-border-top-right-radius: 80px
}
p
{
  color: #FCFCFC
}

body {
	background-color: #000000;
	color: #CAFF70;
	margin-left: 5px;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
	}
	
.style1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FCFCFC;
	margin: 0px;
	padding: 0px;	
}
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FCFCFC;
	text-decoration: underline;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FCFCFC;
	text-decoration: underline;
}
            h1 { 
                  background: gray; /* blue is pretty */
            }

    background: #FCFCFC;
}

#footer {
        background: #FCFCFC;
}
